   # http
    server {
           listen 80;
           listen [::]:80;
           server_name   {{servername}} ;
           root /usr/share/nginx/;
    ### forward to https
            return 301 https://{{servername}};}
    # https
    server  {
      listen 443 ssl http2;
      listen [::]:443 ssl http2;
      root         /usr/share/nginx/;
      server_name  {{servername}};
      client_max_body_size {{maxbodysize}};
      resolver 8.8.8.8 8.8.4.4 valid=300s;
      resolver_timeout 10s;
    ### additional headers
      add_header X-XSS-Protection "1; mode=block";
      add_header X-Content-Type-Options nosniff;
      add_header X-Frame-Options SAMEORIGIN;
    ###
    ### SSL parameters
      ssl_certificate     /manchu/ssl/{{domain-name}}/fullchain.pem;
      ssl_certificate_key /manchu/ssl/{{domain-name}}/privkey.pem;
      ssl_session_cache shared:SSL:10m;
      ssl_session_timeout 10m;
      ssl_session_tickets off;
    ###
    ### intermediate configuration
      ssl_prefer_server_ciphers on;
      ssl_protocols TLSv1.2 TLSv1.3;
      ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
    ###
    ### modern configuration
    #  ssl_protocols TLSv1.3;
    #  ssl_prefer_server_ciphers off;
    ###
    ### OCSP stapling
      ssl_stapling on;
      ssl_stapling_verify on;
    ###
    ### log path
      access_log /manchu/log/nginx/{{servername}}.access.log;
      error_log /manchu/log/nginx/{{servername}}.error.log;
    ###
    ### redirection to {{proxyto}}
      location / {
        add_header Front-End-Https on;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://{{proxyto}};   }}
