<VirtualHost *:80>
        ServerName {{servername}}
        ServerAdmin ít-service@certable.de
#        Redirect permanent / https://{{servername}}/
</VirtualHost>

#<VirtualHost *:443>
#
#    SSLProxyEngine on
#
#    ServerAdmin ít-service@certable.de
#    ServerName {{servername}}
#
#    DocumentRoot /var/www/html
#
#    #LogLevel info ssl:warn
#    ErrorLog logs/{{servername}}-error.log
#    CustomLog logs/{{servername}}-access.log combined
#
#    SSLProxyCheckPeerCN off
#    SSLProxyCheckPeerExpire off
#    SSLProxyCheckPeerName off
#
#    # Adapt the path to your environment:
#    Include /etc/httpd/security/ssl-requirements.conf
#
#</VirtualHost>
