server {
       listen         80;
       root         /var/www/certbot/;
       server_name   {{servername}} ;
       location /.well-known/acme-challenge/ {
              }

      return         301 https://{{servername}};

}
server  {
  listen  443 ssl http2;
  root         /var/www/certbot/;
  # ssl on;
  ssl_certificate     /certable/ssl/letsencrypt/certificates/fullchain.pem;
  ssl_certificate_key /certable/ssl/letsencrypt/certificates/privkey.pem;
  ssl_protocols TLSv1.2 ;
  ssl_ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256;# Score=90 (recommended)
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
  ssl_session_cache shared:SSL:10m;
  ssl_session_timeout 10m;
  ssl_prefer_server_ciphers on;
  ssl_stapling on;
  ssl_stapling_verify on;
  resolver 8.8.8.8 8.8.4.4 valid=300s;
  resolver_timeout 10s;
  add_header X-Frame-Options SAMEORIGIN;
  add_header X-Content-Type-Options nosniff;
  server_name  {{servername}};
  client_max_body_size {{maxbodysize}};
  location / {
    proxy_pass http://{{proxyto}};   }}
